/* Comment */
.commentSection {
  display: flex;
  flex-direction: column;
}

.commentSection > h2 {
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(0,0,0, 0.2);
}

.commentSection .comment-body {
  height: 200px;
  position: relative;
}

.commentSection .comment-body .comment-container {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.commentSection .comment-body .comment {
  height: auto;
  padding: 5px;
  display: flex;
}

.commentSection .comment-body .comment .comment-content {
  width: auto;
  height: auto;
  min-height: 10px;
  max-width: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 100px auto;
  padding: 0px 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.author {
  color: rgba(0,0,0,0.3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-footer {
  height: 40px;

  display: grid;
  grid-template-columns: 120px auto 50px;
  align-items: center;

  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(0,0,0, 0.2);
}

.comment-footer > p {
  padding: 0px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-footer input {
  height: 80%;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 20px;
  padding: 0 0.7em;
  font-size: 1em;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.comment-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 10%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}
