.shoporders {
    width: 100%;
  padding: 1rem;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 8px;
  background-color: white;
  border-radius: 2px;
  place-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  