/*html{
  overflow: hidden;
}

.registerscreen {
  /*display: flex;*/
/*}

.rsidebar {
  padding : 70px;
  height: 100vh;
  background-color :#FFB345;
  width: 30%;
  float: left;
  color : white ;
  text-align: center;
}

.rsidebar>img {
  width :50%;
  margin-bottom: 20px;
}

.register{
  padding-top: 10%;
 margin-left: 40%;
 margin-right: 10%;
 text-align: center;
 align-items: center;
 justify-content: center;
}

.register > h2{
  margin: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 45px;
}

.register-form > h2 {
  margin-bottom: 8px;
}

.rform-input > input {
  margin: 8px 0px;
}

.rform-input > button {
  margin-top: 16px;
  border: none;
  padding: 10px 16px;
  background-color: rgb(233,133,0);
  color: white;
  cursor: pointer;
}

.rform-input > button:hover {
  background-color: rgb(255, 181, 85);
  color: white;
}

.register-form > a {
  margin-top: 16px;
  text-decoration: none;
  text-align: center;
  color: rgba(0,0,0,0.5);
}

.register-form > a > span {
  color: rgb(207, 83, 0);
}*/




.register-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 45px;
}

.form-input {
  display: flex;
  margin: 4px 0px;
}

.form-input > label {
  flex: 1;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-input > input {
  flex: 2;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.form-input > button {
  flex: 1;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}