
.loadingscreen {
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 100px;
  height: 100px;
  border: 20px solid rgb(233,133,0);
  border-left: 20px solid rgb(231, 231, 231);
  border-right: 20px solid rgb(231, 231, 231);
  border-radius: 50%;
  animation: spin 2s linear infinite alternate;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(360deg);}
}

.homescreen {
  max-width: 1300px;

  margin: 0px auto;
  display: flex;
  flex-direction: column;  
  align-items: center;
}


/* Streaming (Top section) */
.homescreen-streaming {
  margin: 1rem auto;
}

/* Main */
.homescreen-main {
  margin: 1rem 0px;
  display: flex;
  flex-direction: row;
}

.homescreen-title {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 1rem;
  margin-left: 8px;
  text-align: center;

  border-bottom: 8px solid rgb(233,133,0);
}

/* Catogories */
.homescreen-categories {
  flex: 1;
  min-width: 200px;

  display: flex;
  flex-direction: column;

  height: 100vh;
  padding: 12px 12px;
}

.homescreen-categories > h3 {
  color: rgb(20, 24, 70);
  padding: 6px 0px;
  width: 100%;

  border-bottom: 1px solid rgb(207, 207, 207);
}

.homescreen-categories > h3 > i {
  padding: 3px 3px;
}

.homescreen-categories > button {
  text-decoration: none;
  border: none;

  background-color: transparent;
  color: rgb(20, 24, 70);
  font-weight: bold;
  width: 100%;
  padding: 12px 6px;

  text-align: left;
}

.homescreen-categories > button:hover {
  background-color: rgb(233,133,0);
  color: white;
}


/* Catalog */
.homescreen-catalog {
  flex: 6;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.homescreen-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  min-height: 500px;
}


/* Pagination */
.homescreen-pagination {
  list-style: none;

  margin: 20px 10px;
}

.homescreen-pagination > li:first-child > a {
  background-color: rgb(218, 218, 218);
  color: white;
}

.homescreen-pagination > li:last-child > a {
  background-color:rgb(218, 218, 218);
  color: white;
}

.homescreen-pagination > li {
  float: left;
  margin: 1px; 
}

.homescreen-pagination > li > a {
  background-color: white;

  min-width: 40px;
  text-align: center;

  padding: 10px;
  cursor: pointer;
}

/* .homescreen-pagination > li:hover {
  background-color: rgb(233,133,0);
  color: white;
} */



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 850px) {
  .homescreen-products {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 850px) {
  .homescreen-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1050px) {
  .homescreen-products {
    grid-template-columns: repeat(2, 1fr);
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1100px) {
  .homescreen-products {
    grid-template-columns: repeat(3, 1fr);
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  .homescreen-products {
    grid-template-columns: repeat(4, 1fr);
  }
}