
.sidebar {
  padding : 70px;
  height: 100vh;
  background-color :#FFB345;
  width: 30%;
  float: left;
  color : white ;
  text-align: center;
}

.sidebar>img {
  width :50%;
  margin-bottom: 20px;
}

.login{
  padding-top: 10%;
 margin-left: 40%;
 margin-right: 10%;
 text-align: center;
 align-items: center;
 justify-content: center;
}

.login > h2{
  margin: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 45px;
}

.login-form > h2 {
  margin-bottom: 8px;
}

.form-input > input {
  margin: 8px 0px;
}

.form-input > button {
  margin-top: 16px;
  border: none;
  padding: 10px 16px;
  background-color: rgb(233,133,0);
  color: white;
  cursor: pointer;
}

.form-input > button:hover {
  background-color: rgb(255, 181, 85);
  color: white;
}

.login-form > a {
  margin-top: 16px;
  text-decoration: none;
  text-align: center;
  color: rgba(0,0,0,0.5);
}

.login-form > a > span {
  color: rgb(207, 83, 0);}
  .form-input {
    display: flex;
    margin: 4px 0px;
  }
  
  .form-input > label {
    flex: 1;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .form-input > input {
    flex: 2;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .form-input > button {
    flex: 1;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }