
.memberbox{
    flex-basis: 100%;
    height: 20rem;
    margin: 1rem 0rem;
    background-color: rgb(103, 180, 224);
}

.memberbox > b{
    color: rgb(28, 98, 126)
}

.member {
    width: 100px;
    display: block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    font-size: 1em;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: rgb(233,133,0);
    text-align: center;
}

.mem {
    color: rgb(233,133,0);
    padding: 15px 0px;
}


