/* Common css */
.uwu-btn {
  width: 100%;

  border: none;
  padding: 10px 16px;
  background-color: rgb(233,133,0);
  color: white;
  cursor: pointer;

  text-decoration: none;

  margin: 3px;
}

.uwu-btn:hover {
  background-color: rgb(255, 181, 85);
  color: white;
}

.uwu-btn:disabled {
  background-color: rgb(219, 198, 170);
  color: white;
  cursor: default;
}

.uwu-btn-red {
  background-color: rgb(134, 0, 0);
}

.uwu-btn-red:hover {
  background-color: rgb(196, 0, 0);
}

.uwu-btn-red:disabled {
  background-color: rgb(226, 172, 172);
}

.uwu-btn-yellow {
  background-color: rgb(15, 0, 70);
}

.uwu-btn-yellow:hover {
  background-color: rgb(3, 0, 190);
}

.uwu-btn-yellow:disabled {
  background-color: rgb(153, 136, 214);
}

.uwu-input {
  width: 100%;
  padding: 10px;
  margin: 3px;
}

.uwu-select {
  width: 100%;
  padding: 10px;
}

.uwu-select > option {
  font-weight: 50;
  font-size: 1.0rem;
}

.center {
  text-align: center;
}

.grey {
  color: rgb(0,0,0, 0.4);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.auction-win-message {
  background-color: rgb(128, 255, 0);
  padding: 1rem 0rem;

  font-weight: bold;
  color: rgb(0, 0, 0);

  animation-name: win-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes win-animation {
  0% {background-color: rgb(128, 255, 0);}
  50% {background-color:rgb(229, 255, 0);}
}

/* top panel */
.streaming-header {
  display: flex;
  align-content: center;
  justify-content: center;
  /* flex-direction: column; */

  width: 100%;
  background-color: white;
  margin: 0px auto;
  padding: 10px 10px;
}

.streaming-header > h1 {
  flex: 4;
}

.align-right {
  flex: 1;
  text-align: end;

  display: flex;
  justify-content: flex-end;
}

.btn-stopstreaming {
  border: none;
  border-radius: 20px;

  background-color: rgb(143, 0, 0);
  color: white;
  
  padding: 10px;

  cursor: pointer;
}

.btn-stopstreaming:hover {
  background-color: rgb(223, 0, 0);
}

.streaming-content {

  margin: 0rem 0rem;
  display: flex;

  box-shadow: inset 0 5px 7px -7px rgba(0,0,0,0.4);
}

.video-content {
  flex: 2;

  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;

  overflow:hidden;
  display:block;
  background-color: black;
}

.sections {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;

  padding: 0px;

  box-shadow: inset 0 5px 7px -7px rgba(0,0,0,0.4);
}


/* Setup */
.setupSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.setupSection > div {
  width: 100%;
  padding: 10px 30px;
  font-size: 0.8rem;
}

.setupSection > h2 {
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(0,0,0, 0.2);

  margin-bottom: 20px;
}


/* Shop */
.streaming-shop {
  height: fit-content;
}

.streaming-shop > h2 {
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(0,0,0, 0.2);
}

.streaming-shop-body > div {
  padding: 10px 10px;
  width: 100%;
}

.streaming-shop .streaming-shop-body {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.streaming-shop .streaming-shop-body .streaming-shelf {
  position: relative;
  width: 40%;
  margin: 1rem auto;
}

.streaming-shop .streaming-shop-body .streaming-product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;

  object-fit: cover;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 12px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  transition: all 100ms ease-out;
}

.streaming-shop .streaming-shop-body .streaming-product:hover {
  transform: translate(-50%, -55%);
}

.streaming-shop .streaming-shop-body .streaming-noproduct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);

  border-radius: 10px;

  font-weight: bold;
}

.productOnSale {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.productOnSale-detail {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;

  padding: 10px;
}

.uwu-auctiontimer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.uwu-auctiontimer-title {
  font-weight: bolder;
  font-size: 1.0rem;
}

.uwu-auctiontimer-time {
  font-weight: bolder;
  font-size: 3.0rem;

  animation-name: timer-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes timer-animation {
  0% {color: rgb(255, 255, 255);}
  50% {color: rgb(116, 116, 116);}
}