/* Common css */
.btn {
  margin-top: 10px;
  width: 100%;

  border: none;
  padding: 10px 16px;
  background-color: rgb(233,133,0);
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(255, 181, 85);
  color: white;
}

.btn-red {
  background-color: rgb(134, 0, 0);
}

.btn-red:hover {
  background-color: rgb(196, 0, 0);
}


/* top panel */
.streaming-header {
  display: flex;
  align-content: center;
  justify-content: center;
  /* flex-direction: column; */

  width: 100%;
  background-color: white;
  margin: 0px auto;
  padding: 10px 10px;
}

.streaming-header > h1 {
  flex: 4;
}

.align-right {
  flex: 1;
  text-align: end;

  display: flex;
  justify-content: flex-end;
}

.btn-stopstreaming {
  border: none;
  border-radius: 20px;

  background-color: rgb(143, 0, 0);
  color: white;
  
  padding: 10px;

  cursor: pointer;
}

.btn-stopstreaming:hover {
  background-color: rgb(223, 0, 0);
}

.streaming-content {
  margin: 0rem 0rem;
  display: flex;

  box-shadow: inset 0 5px 7px -7px rgba(0,0,0,0.4);
}

.video-content {
  flex: 2;

  display: flex;
  justify-content: center;
}

.sections {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;

  padding: 0px;
  height: 85vh;

  box-shadow: inset 0 5px 7px -7px rgba(0,0,0,0.4);
}


/* Setup */
.setupSection {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.setupSection > div {
  width: 100%;
  padding: 10px 30px;
  font-size: 0.8rem;
}

.setupSection > h2 {
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(0,0,0, 0.2);
}

.setupSection > div > input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}

.setupSection > div > select {
  width: 100%;
  padding: 10px;
}


/* Shop */
.streaming-shop {
  flex: 50%;
}

.streaming-shop > h2 {
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(0,0,0, 0.2);
}

.streaming-shop-body > div {
  padding: 10px 10px;
  width: 100%;
}

.streaming-shop .streaming-shop-body {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.streaming-shop .streaming-shop-body .streaming-shelf {
  position: relative;
  width: 60%;
  margin: 1rem auto;
}

.streaming-shop .streaming-shop-body .streaming-product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;

  object-fit: cover;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 12px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  transition: all 100ms ease-out;
}

.streaming-shop .streaming-shop-body .streaming-product:hover {
  transform: translate(-50%, -55%);
}

.streaming-shop .streaming-shop-body .streaming-noproduct {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);

  border-radius: 10px;

  font-weight: bold;
}

.productOnSale {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.productOnSale-detail {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;

  padding: 10px;
}

.infobox {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infobox-content {
  width: 60%;
  height: min-content;
  background-color: white;
  z-index: 150;
  padding: 30px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  /* align-items: center; */
}

.infobox-content > h2 {
  font-size: 1.0em;
  margin-bottom: 12px;
}

.infobox-content > .productList {
  display: flex;
  width: 100%;

  overflow-x: scroll; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Add vertical scrollbar */
}

.message {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-content {
  width: max-content;
  height: min-content;
  background-color: white;
  z-index: 150;
  padding: 30px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  /* align-items: center; */
}

.message-content > h2 {
  font-size: 1.0em;
  margin-bottom: 12px;
}

.message-content > button {
  border: none;
  padding: 10px 16px;
  background-color: rgb(0, 206, 45);
  color: white;
  cursor: pointer;
  margin-top: 20px;
}


/* Comment */
.commentSection {
  flex: 50%;
}

.commentSection > h2 {
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(0,0,0, 0.2);
}

.commentSection .comment-body {
  height: 35vh;
  position: relative;
}

.commentSection .comment-body .comment-container {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.commentSection .comment-body .comment {
  height: auto;
  padding: 5px;
  display: flex;
}

.commentSection .comment-body .comment .comment-content {
  width: auto;
  height: auto;
  min-height: 10px;
  max-width: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 100px auto;
  padding: 0px 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.author {
  color: rgba(0,0,0,0.3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-footer {
  height: 40px;

  display: grid;
  grid-template-columns: 120px auto 50px;
  align-items: center;

  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(0,0,0, 0.2);
}

.comment-footer > p {
  padding: 0px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-footer input {
  height: 80%;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 20px;
  padding: 0 0.7em;
  font-size: 1em;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.comment-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 10%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

/* Footer */
.footer {
  width: 100%;
  padding: 20px 20px;
  background-color: white;
}

.footer > p {
  padding: 10px;
}